/* Estilos generales para todos los elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/* Estilos para el cuerpo de la página */
body{
    min-height: 100vh;
    background-color: violet;
    display: grid;
    place-items: center;

}
.contenedor{
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* Estilos para el contenedor de la calculadora */
.calculadora{
    background-color: black;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    box-shadow: 0 0 20px black;
}
/* Estilos para la pantalla de la calculadora */
.pantalla{
    grid-column: 1 / -1;
    background-color: violet;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    box-shadow: 0px 0px 0px 10px rgba(52, 50, 56, 0.534);
    white-space: nowrap;
    overflow: hidden;
}
/* Estilos para los botones */
.button{
    background-color: white;
    color: black;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    font-size: medium;
}
/* Efecto al pasar el cursor sobre los botones */
.button:hover {
    background-color: violet; /* Cambia el color al pasar el cursor */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
}
/* Estilos específicos para el botón de operación */
#op {
    color: black;
}
/* Estilos para el botón de borrar */
#borrar{
    background-color: rgb(154, 75, 228);
    border-radius: 1rem;
    display: flex;
}
/* Estilos para el botón de reiniciar */
#reset{
    background-color: rgb(154, 75, 228);
}
/* Estilos para el botón cero que ocupa dos columnas */
#cero{
    grid-column: span 2;
}
/* Estilos para el botón igual que ocupa dos filas */
#igual{
    grid-row: span 2;
    background-color: rgb(154, 75, 228);
    border-radius: 1rem;
}
/* Estilos para el historial de operaciones */
.historial {
    background-color: violet;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    height: 100px;
    width: 350px;
    overflow-y: auto; /* Permite el desplazamiento si hay muchas operaciones */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
}
/* Estilos para el titulo */
.historial h1 {
    margin: 0;
    font-size: 1.5rem;
    text-align: left;
}